<server>
    <featureManager>
        <feature>ejb-3.2</feature>
        <feature>servlet-3.1</feature>
        <feature>jsf-2.2</feature>
        <feature>jpa-2.1</feature>
        <feature>mdb-3.2</feature>
        <feature>wasJmsServer-1.0</feature>
        <feature>wasJmsClient-2.0</feature>
        <feature>cdi-1.2</feature>
        <feature>websocket-1.1</feature>
        <feature>concurrent-1.0</feature>
        <feature>jsonp-1.0</feature>
        <feature>beanValidation-1.1</feature>
        <feature>localConnector-1.0</feature>
    </featureManager>

	<!-- allow reuse of 'busy' ports for fast server recycling on linux (where ports remain blocked for up to 2 mins after server stops) ${tradelite.http.port} set in bootstrap.properties --> 
	<httpEndpoint host="*" httpPort="9082" httpsPort="9443" id="defaultHttpEndpoint"> 
		<tcpOptions soReuseAddr="true"/> 
		<httpOptions maxKeepAliveRequests="-1"/>
	</httpEndpoint>

	<iiopEndpoint id="defaultIiopEndpoint" iiopPort="2809" iiopsPort="2810"/>
	
	<application id="daytrader7" context-root="/" location="daytrader-ee7.ear" name="daytrader7"/>

</server>
